<section xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{common}" 
        layout:fragment="content"
        th:with="userInfo=${userInfo}">
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <section id="body2">
        <div id="body2title">
            <h2>식단 등록</h2>
        </div>
        <div>
            <input type="hidden" name="user_id" th:value="${userInfo.id}">
        </div>
        <div style="display: flex; flex-wrap:wrap; justify-content: space-between;">
            <table id="resist_form" style="width: 70%; background: #ffffff; padding: 20px; border-radius: 12px; box-shadow: 0 4px 12px rgba(0,0,0,0.06);">
                <tr>
                    <td style="width: 85px;">제목</td>
                    <td><input type="text" name="title" style="width: 100%;"></td>
                </tr>
                <tr>
                    <td style="vertical-align: text-top;">설명</td>
                    <td><textarea name="explanation" style="resize:none; width: 100%; height: 300px;"></textarea></td>
                </tr>
                <tr>
                    <td>목표</td>
                    <td>
                        <select name="goal_type" style="width: 30%;">
                            <option value="none">---</option>
                            <option value="WEIGHT_LOSS">감량</option>
                            <option value="MAINTAIN">유지</option>
                            <option value="MUSCLE_GAIN">증량</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: top;">식단</td>
                    <td style="overflow-y: auto; max-height: 45px;">
                        <table id="sel_food">
                            <tr>
                                <td>아침:</td>
                                <td id="breakfast"></td>
                            </tr>
                            <tr>
                                <td>점심:</td>
                                <td id="launch"></td>
                            </tr>
                            <tr>
                                <td>저녁:</td>
                                <td id="dinner"></td>
                            </tr>
                            <tr>
                                <td>그외:</td>
                                <td id="else"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left;">
                        총칼로리
                    </td>
                    <td>
                        <span id="sel_cal" style="display: inline-block;">0</span>kcal
                    </td>
                </tr>
                <tr>
                    <td>
                        이미지 추가
                        <br>
                        (필수 X)
                    </td>
                    <td>
                        <input type="file" id="dimgfile" accept="image/*" multiple>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center; padding-top: 20px;">
                        <input type="button" value="등록" onclick="save()" style="padding: 10px 30px; background-color: #10b981; color: white; border: none; border-radius: 5px; font-weight: bold; cursor: pointer;">
                    </td>
                </tr>
            </table>
            <table id="ftable" style="width: 69%; background: #ffffff; padding: 20px; border-radius: 12px; box-shadow: 0 4px 12px rgba(0,0,0,0.06);">
                <tr>
                    <td>
                        <h4 style="margin-bottom: 5px; display:inline-block">■ 음식 선택</h4>
                        <select name="mealtype" id="mealtype">
                            <option value="else">-----</option>
                            <option value="breakfast">아침</option>
                            <option value="launch">점심</option>
                            <option value="dinner">저녁</option>
                        </select>
                        <h6>(kor은 100g 기준)</h6>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="margin-bottom: 10px;">
                            음식 검색:
                            <input type="text" name="food_name" id="food_name" placeholder="원하는 음식명을 입력하세요" style="display: inline-block;">
                            <button id="ksearch" style="margin-left: 5px; background-color: #10b981; color: white; cursor: pointer; border: none; border-radius: 5px; width: 65px;" >검색(kor)</button>
                            <button id="esearch" style="margin-left: 5px; background-color: #10b981; color: white; cursor: pointer; border: none; border-radius: 5px; width: 70px;" >검색(eng)</button>
                            <button id="ftinsert" style="margin-left: 10px; background-color: #10b981; color: white; cursor: pointer; border: none; border-radius: 5px; width: 40px;">선택</button>
                        </div>
                        <div id="fword" style="margin-bottom: 10px; color: #065f46; font-weight: bold; height: 30px;"></div>
                        <table id="ftable_title" style="width: 100%; font-size: 13px; background-color: #f0fdf4;">
                            <tr>
                                <th style="width: 170px;">음식명</th>
                                <th style="width: 60px;">칼로리</th>
                                <th style="width: 60px;">탄수화물</th>
                                <th style="width: 60px;">단백질</th>
                                <th style="width: 60px;">지방</th>
                                <th style="width: 60px;">식사량<br>(기본 100g)</th>
                            </tr>
                        </table>
                        <div style="height: 350px; overflow-x: hidden; overflow-y: auto;">
                            <table id="ftable_content" style="table-layout: fixed; width: 100%; font-size: 13px;"></table>
                        </div>
                        <div id="ft_pagelist" style="margin-top: 15px; text-align: center;"></div>
                    </td>
                </tr>
            </table>
        </div>
    </section>
    <style>
        .fnpage{
            background-color: #10b981;
            color: white;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            font-weight: bold;
            width: 30px;
            font-size: 10px;
        }
        button{
            transition: background-color 0.2s ease;
        }
        button:hover{
            background-color: #059669;
        }
    </style>
    <script>
        let temporary;
        let fseleclist=[];
        let fcurrlist=[];
        const servicekey='jL8PHgOttipXdQtu%2BF4YntDmduAIvBCSdB7OP5VHXLcT8zpvkYvHRaPOAiwsFhAZVTG9hy%2FiVtBt%2Bqn7aQmT0w%3D%3D';
        const base='https://apis.data.go.kr/1471000/FoodNtrCpntDbInfo02';  

        $('#ksearch').click(()=>{
            let foodname=$('#food_name').val();
            getpage(foodname).then(pageinfo=>{
                if(pageinfo==null){
                    $('#food_name').val('');
                    return;
                }
                $.ajax({
                    async:true,
                    url:'/diet/foodlist',
                    method:'get',
                    dataType:'json',
                    data:{
                        "page":1,
                        "totalCount":pageinfo.totalCount
                    }
                    ,
                    success:function(data){
                        getdata(data,foodname).then(foodnlist=>{
                            fcurrlist=foodnlist;
                            let sentence1='';
                            let sentence2='';
                            $.each(foodnlist,function(index, item){
                                sentence1+='<tr>';
                                sentence1+='<td style="width:30px"><input name="fcheck" type="checkbox" class="ftchk" style="width:30px" value='+index+'></td>';
                                sentence1+='<td style="font-size: 13px; width: 130px;">'+item.food_name+'</td>';
                                sentence1+='<td style="font-size: 13px; width: 50px;">'+item.calories+'</td>';
                                sentence1+='<td style="font-size: 13px; width: 50px;">'+item.carbohydrate+'</td>';
                                sentence1+='<td style="font-size: 13px; width: 50px;">'+item.protein+'</td>';
                                sentence1+='<td style="font-size: 13px; width: 50px;">'+item.fat+'</td>';
                                sentence1+='<td style="font-size: 13px; width: 50px;"><input type="text" value="100" name="amount" style="width: 90%;">g</td>'
                                sentence1+='</tr>';
                            })
                            sentence2+='<ol class="pagelist" id="pagebox" >';
                            if(data.prev){
                                sentence2+='<li class="prev" style="display: inline-block;"><button class="fnpage" id="prevb" onclick="goPage('+(data.startPage-10)+')">이전</button></li>';
                            }
                            for(let i=data.startPage; i<=data.endPage; i++){
                                sentence2+='<li class="curr" style="display: inline-block;"><button class="fnpage" id="currpage" onclick="goPage('+i+')">'+i+'</button></li>';
                            }
                            if(data.next){
                                sentence2+='<li class="next" style="display: inline-block;"><button class="fnpage" id="nextb" onclick="goPage('+(data.startPage+10)+')">다음</button></li>';
                            }
                            sentence2+='</ol>';
                            $('#ftable_content').html(sentence1);
                            $('#ft_pagelist').html(sentence2);
                            if(foodname==''){
                                foodname='모두'
                            }
                            $("#fword").text(foodname);
                            $('#food_name').val('');
                        });
                    },
                    error:function(){
                        $('#food_name').val('none');
                    }
                })
            })
        })

        function goPage(e){
            let foodname=$('#fword').text();
            if(foodname=='모두'){
                foodname='';
            }
            let currpage=e;
            getpage(foodname).then(pageinfo=>{
                $.ajax({
                    async:true,
                    url:'/diet/foodlist',
                    method:'get',
                    dataType:'json',
                    data:{
                        "page":e,
                        "totalCount":pageinfo.totalCount
                    }
                    ,
                    success:function(data){
                        getdata(data,foodname).then(foodnlist=>{
                            fcurrlist=foodnlist;
                            let sentence1='';
                            let sentence2='';
                            $.each(foodnlist,function(index, item){
                                sentence1+='<tr>';
                                sentence1+='<td style="width:30px"><input name="fcheck" type="checkbox" class="ftchk" style="width:30px" value='+index+'></td>';
                                sentence1+='<td style="font-size: 13px; width: 130px;">'+item.food_name+'</td>';
                                sentence1+='<td style="font-size: 13px; width: 50px;">'+item.calories+'</td>';
                                sentence1+='<td style="font-size: 13px; width: 50px;">'+item.carbohydrate+'</td>';
                                sentence1+='<td style="font-size: 13px; width: 50px;">'+item.protein+'</td>';
                                sentence1+='<td style="font-size: 13px; width: 50px;">'+item.fat+'</td>';
                                sentence1+='<td style="font-size: 13px; width: 50px;"><input type="text" value="100" name="amount" style="width: 90%;">g</td>'
                                sentence1+='</tr>';
                            })
                            sentence2+='<ol class="pagelist" id="pagebox">';
                            if(data.prev){
                                sentence2+='<li class="prev" style="display: inline-block;"><button class="fnpage" onclick="goPage('+(data.startPage-10)+')">이전</button></li>';
                            }
                            for(let i=data.startPage; i<=data.endPage; i++){
                                sentence2+='<li class="curr" style="display: inline-block;"><button class="fnpage" id="currpage" onclick="goPage('+i+')">'+i+'</button></li>';
                            }
                            if(data.next){
                                sentence2+='<li class="next" style="display: inline-block;"><button class="fnpage" onclick="goPage('+(data.startPage+10)+')">다음</button></li>';
                            }
                            sentence2+='</ol>';
                            $('#ftable_content').html(sentence1);
                            $('#ft_pagelist').html(sentence2);
                        });  
                    },
                    error:function(){
                        alert('go page 오류');
                    }
                })
            });
        }

        $('#esearch').click(()=>{
            let foodname=$('#food_name').val();

            getdata2(0,foodname).then(rdata=>{
                $.ajax({
                    async:true,
                    url:'/diet/foodlist',
                    method:'get',
                    dataType:'json',
                    data:{
                        "page":Number(rdata.page_number)+1,
                        "totalCount":rdata.total_results
                    },
                    success:function(data){
                        let sentence1='';
                        let sentence2='';
                        fcurrlist=rdata.results.food;
                        let templist=[];
                        $.each(fcurrlist,function(index){
                            let item=fcurrlist[index];
                            sentence1+='<tr>';
                            sentence1+='<td style="width:30px"><input name="fcheck" type="checkbox" class="ftchk" style="width:30px" value='+index+'></td>';
                            sentence1+='<td style="font-size: 13px; width: 130px;">'+item.food_name+'</td>';
                            let nut=item.servings.serving[0]
                            sentence1+='<td style="font-size: 13px; width: 50px;">'+nut.calories+'</td>';
                            sentence1+='<td style="font-size: 13px; width: 50px;">'+nut.carbohydrate+'</td>';
                            sentence1+='<td style="font-size: 13px; width: 50px;">'+nut.protein+'</td>';
                            sentence1+='<td style="font-size: 13px; width: 50px;">'+nut.fat+'</td>';
                            sentence1+='<td style="font-size: 13px; width: 50px;"><input type="text" value="100" name="amount" style="width: 90%;">g</td>'
                            sentence1+='</tr>';
                            let tempdata={
                                food_name:item.food_name,
                                calories:parseInt(nut.calories),
                                carbohydrate:nut.carbohydrate,
                                protein:nut.protein,
                                fat:nut.fat,
                                standard:nut.metric_serving_amount
                            }
                            templist.push(tempdata);
                        })
                        fcurrlist=templist;
                        sentence2+='<ol class="pagelist" id="pagebox" >';
                        if(data.prev){
                            sentence2+='<li class="prev" style="display: inline-block;"><button class="fnpage" id="prevb" onclick="goPage2('+(data.startPage-10)+')">이전</button></li>';
                        }
                        for(let i=data.startPage; i<=data.endPage; i++){
                            sentence2+='<li class="curr" style="display: inline-block;"><button class="fnpage" id="currpage" onclick="goPage2('+i+')">'+i+'</button></li>';
                        }
                        if(data.next){
                            sentence2+='<li class="next" style="display: inline-block;"><button class="fnpage" id="nextb" onclick="goPage2('+(data.startPage+10)+')">다음</button></li>';
                        }
                        sentence2+='</ol>';
                        $('#ftable_content').html(sentence1);
                        $('#ft_pagelist').html(sentence2);
                        $("#fword").text(foodname);
                        $('#food_name').val('');
                    },
                    error:function(error){
                        console.log(error)
                    }
                })
            })
        })

        function goPage2(e){
            let foodname=$('#fword').text();
            let currpage=e-1;
            getdata2(currpage,foodname).then(rdata=>{
                $.ajax({
                    async:true,
                    url:'/diet/foodlist',
                    method:'get',
                    dataType:'json',
                    data:{
                        "page":Number(rdata.page_number)+1,
                        "totalCount":rdata.total_results
                    }
                    ,
                    success:function(data){
                        let sentence1='';
                        let sentence2='';
                        fcurrlist=rdata.results.food;
                        let templist=[];
                        $.each(fcurrlist,function(index){
                            if(fcurrlist[index].servings.serving[0].sugar==undefined){
                                fcurrlist[index].servings.serving[0].sugar=0;
                            }else if(fcurrlist[index].servings.serving[0].sodium==undefined){
                                fcurrlist[index].servings.serving[0].sodium=0;
                            }
                            let item=fcurrlist[index];
                            sentence1+='<tr>';
                            sentence1+='<td style="width:30px"><input name="fcheck" type="checkbox" class="ftchk" style="width:30px" value='+index+'></td>';
                            sentence1+='<td style="font-size: 13px; width: 130px;">'+item.food_name+'</td>';
                            let nut=item.servings.serving[0]
                            sentence1+='<td style="font-size: 13px; width: 50px;">'+nut.calories+'</td>';
                            sentence1+='<td style="font-size: 13px; width: 50px;">'+nut.carbohydrate+'</td>';
                            sentence1+='<td style="font-size: 13px; width: 50px;">'+nut.protein+'</td>';
                            sentence1+='<td style="font-size: 13px; width: 50px;">'+nut.fat+'</td>';
                            sentence1+='<td style="font-size: 13px; width: 50px;"><input type="text" value="100" name="amount" style="width: 90%;">g</td>'
                            sentence1+='</tr>';
                            let tempdata={
                                food_name:item.food_name,
                                calories:parseInt(nut.calories),
                                carbohydrate:nut.carbohydrate,
                                protein:nut.protein,
                                fat:nut.fat,
                                standard:nut.metric_serving_amount
                            }
                            templist.push(tempdata);
                        })
                        fcurrlist=templist;
                        sentence2+='<ol class="pagelist" id="pagebox" >';
                        if(data.prev){
                            sentence2+='<li class="prev" style="display: inline-block;"><button class="fnpage" id="prevb" onclick="goPage2('+(data.startPage-10)+')">이전</button></li>';
                        }
                        for(let i=data.startPage; i<=data.endPage; i++){
                            sentence2+='<li class="curr" style="display: inline-block;"><button class="fnpage" id="currpage" onclick="goPage2('+i+')">'+i+'</button></li>';
                        }
                        if(data.next){
                            sentence2+='<li class="next" style="display: inline-block;"><button class="fnpage" id="nextb" onclick="goPage2('+(data.startPage+10)+')">다음</button></li>';
                        }
                        sentence2+='</ol>';
                        $('#ftable_content').html(sentence1);
                        $('#ft_pagelist').html(sentence2); 
                    },
                    error:function(){
                        alert('go page2 오류');
                    }
                })
            });
        }

        $('#ftinsert').click(()=>{
            let sentence1='';
            let meal=$('#mealtype').val();
            let templist=$('.ftchk');
            let amountlist=$('input[name="amount"]');
            $.each(templist,function(){
                if($(this).is(":checked")==true){
                    if(fseleclist.length<20){
                        let index=$(this).val();
                        fcurrlist[index].amount=parseInt(amountlist[index].value);
                        fcurrlist[index].mealtype=meal;
                        let tcal=calctcal(fcurrlist[index].standard,fcurrlist[index].amount,fcurrlist[index].calories)
                        fcurrlist[index].totalcal=tcal;
                        fseleclist.push(fcurrlist[index]);
                        let tempjson=btoa(encodeURIComponent(JSON.stringify(fcurrlist[index])));
                        
                        sentence1+=`<span onclick="del(this,${tcal})" style="font-size: 12px; border: 2px solid #10b981; background-color: #ecfdf5; border-radius: 6px; margin: 5px; cursor: pointer; display: inline-block;">
                            ${fcurrlist[index].food_name}<input type="hidden" name="Foodlist" value='${tempjson}'>
                            </span>`;
                        
                        if(meal=='breakfast'){
                            $('#breakfast').append(sentence1);
                        }else if(meal=='launch'){
                            $('#launch').append(sentence1);
                        }else if(meal=='dinner'){
                            $('#dinner').append(sentence1);
                        }else if(meal=='else'){
                            $('#else').append(sentence1);
                        }

                        let scal=parseInt($('#sel_cal').text())+tcal;
                        $('#sel_cal').text(scal);
                        sentence1='';
                    }
                }
            })
            $('#ftable_content').html('');
            $('#ft_pagelist').html('');
            $('#fword').text('');
            $('#mealtype').val('else');
        })

        function del(e,tcal){
            $(e).remove();
            let scal=parseInt($('#sel_cal').text())-tcal;
            $('#sel_cal').text(scal);
        }

        function save(){
            if(document.getElementsByName('goal_type')[0].value=='none' || document.getElementsByName('title')[0].value==''|| document.getElementsByName('explanation')[0].value==''){
                alert('필수 항목을 채워주세요');
                return;
            }
            if(document.getElementById('breakfast').innerHTML=='' &document.getElementById('launch').innerHTML==''& document.getElementById('dinner').innerHTML==''& document.getElementById('else').innerHTML==''){
                 alert('식단 항목을 채워주세요');
                return;
            }
            let formdata= new FormData();

            let fileinput=document.getElementById('dimgfile').files;
            for(let file of fileinput){
                formdata.append('files',file);
            }
            
            let foodlist = Array.from(document.getElementsByName('Foodlist')).map(input =>
                JSON.parse(decodeURIComponent(atob(input.value)))
            );
            formdata.append('dsv',new Blob([JSON.stringify({
                diet:{
                    title:document.getElementsByName('title')[0].value,
                    explanation:document.getElementsByName('explanation')[0].value,
                    goal_type:document.getElementsByName('goal_type')[0].value,
                    userid:document.getElementsByName('user_id')[0].value
                },
                foodlist:foodlist
            })],{type:'application/json'}))
            
            fetch('/diet/save',{
                method:'POST',
                body:formdata
            })
            .then(res=>res.json())
            .then(data=>location.href=data.url)
            .catch(error=>console.log(error));
        }

        async function getpage(foodname) {
            let url=base+'/getFoodNtrCpntDbInq02?serviceKey='+servicekey+'&numOfRows=15&type=json&FOOD_NM_KR='+foodname+'&DB_CLASS_NM=품목대표';
            try {
                const response= await fetch(url);
                const inform= await response.json();
                const item=inform.body;
                if(item.totalCount==0){
                    $("#fword").text('해당 음식 관련 데이터 없음');
                    $('#ftable_content').html('');
                    $('#ft_pagelist').html('');
                    return null;
                }
                let pageinfo={
                    page:item.pageNo,
                    totalCount: item.totalCount,
                    perPageNum:item.numOfRows
                }
                return pageinfo;
            } catch (error) {
                alert('get page 오류');
            }
        }

        async function getdata(page,foodname) {
            let url=base+'/getFoodNtrCpntDbInq02?serviceKey='+servicekey+'&pageNo='+page.page+'&numOfRows='+page.perPageNum+'&type=json&FOOD_NM_KR='+foodname+'&DB_CLASS_NM=품목대표';
            try {
                let templist=[];
                const response= await fetch(url);
                const inform= await response.json();
                const items=inform.body.items;
                $.each(items,function(index,item){
                    let tempdata={
                        food_name:item.FOOD_NM_KR,
                        calories:parseInt(item.AMT_NUM1),
                        carbohydrate:item.AMT_NUM6,
                        protein:item.AMT_NUM3,
                        fat:item.AMT_NUM4,
                        standard:item.SERVING_SIZE
                    }
                    templist.push(tempdata);
                })
                return templist;
            } catch (error) {
                console.log(error);
                alert('get data 오류');
            }
        } 

        async function getdata2(page,foodname){
            let url='http://192.168.0.41:3000/getdata?foodname='+foodname+'&page='+page;
            try{
                const response= await fetch(url);
                const data= await response.json();
                const rdata=data.foods_search;
                return rdata;
            }catch (error) {
                console.log(error);
                alert('get page2 오류');
            }
        }
    
        function calctcal(g,tg,cal){
            let gram;
            if(g.includes('.')){
                gram=parseInt(g) 
            }else{
                gram=parseInt(g.replace(/[^0-9]/g, "")); 
            }
            let onecal=parseFloat(cal/gram);
            let totalcal=parseInt(tg*onecal);
            return totalcal;
        }

    </script>
</section>
