<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.Fitory.fitory.mapper.DietMapper">

    <select id="findDietDetailsByUserIdAndDate" resultType="com.Fitory.fitory.dto.detailfood">
        SELECT
            df.food_name,
            df.mealtype,
            fn.calories,
            fn.protein,
            fn.carbohydrate,
            fn.fat,
            s.date
        FROM schedule s
                 JOIN diet d ON s.diet_id = d.diet_id
                 JOIN diet_food df ON d.diet_id = df.diet_id
                 JOIN food_nutrition fn ON df.food_nutrition_id = fn.food_nutrition_id
        WHERE s.id = #{userid}
          AND s.date = #{date}
          AND s.type = 'meal'
    </select>

</mapper>